body {
    margin: 0;
    padding: 0;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container2 > * {
    margin-right: auto;
    margin-left: auto;
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* pending */
    padding: 20px 30px;
    background: #fff;
}

#pop {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
}

.form-element {
    display: flex;
    flex-direction: column;
}

#check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#book-shelf {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    /* https://www.youtube.com/watch?v=9zBsdzdE4sM */
}

#book-shelf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    margin: 10px
}

.fab {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #F44336;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .fab:focus {
    transform: scale(1.1);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .header {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 10px;
    border: 1px solid black;
    background: green
  }
